* {
  margin: 0;
  padding: 0;
}

.mobile_btn {
    display: none;
}

.inner-container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.hero__section {
  width: 100%;
  height: 740px;
  background-image: url("https://res.cloudinary.com/dqw7jnfgo/image/upload/q_30/v1663064582/random%20profile/randomprofile-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  padding: 0 20px;
}

.nav__list {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding-top: 26px;
  padding-right: 92px;
  padding-bottom: 26px;
}

.nav__list-item {
  font-family: "Lato";
  display: flex;
  color: #a6a6a6;
  margin-left: 30px;
}

.nav__link {
  color: currentColor;
  line-height: 19px;
  text-decoration: none;
  font-size: 16px;
}

.profile {
  width: 100%;
  padding-top: calc(181px - 71px);
  max-width: 467px;
}

.name {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  font-family: "Lato";
  margin-bottom: 24px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Lato";
  line-height: 24px;
  margin-bottom: 32px;
}

.btn {
  padding: 26px 62px;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
}

.icon_list {
  position: absolute;
  bottom: 55.59px;
  right: 100px;
}

.icon_listitem {
  display: flex;
  font-size: 24px;
}

.icon_link {
  color: #404040;
}

.icon_listitem + .icon_listitem {
  margin-top: 29.5px;
}


.section_two-wrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 69px;
}

.image-wrapper {
    width: 505px;
    height: 636.78px;
    flex-shrink: 0;
    margin-right: 19.92px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}














@media (max-width: 768px) {
  .nav__list {
    display: none;
  }

  .icon_list {
    display: none;
  }

  .profile {
    position: absolute;
    bottom: 40px;
    color: white;
    max-width: 284px;
  }

  .name {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }

  .description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 14px;
  }

  .mobile_btn {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    padding-top: 37px
  }
}
